{% import "bootstrap/wtf.html" as wtf %}
<html>
{% block body %}
{% include 'nav.html' %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <ul>
                    <h1>Projeto Cerana</h1>
                    <h3>Venha fazer parte desta comunidade!</h3>
                    <hr class="intro-divider">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</html>
