body{
    background:#f9f9fb;
}
.view_account{
    background:#FFFFFF;
    margin-top:20px;
}
.view_account .side_bar {
    padding-bottom: 30px;
}

.view_account .side_bar .user_info {
    text-align: left;
    margin-bottom: 15px;
    padding: 30px;
    color: #616670;
    border-bottom: 1px solid #f3f3f3
}

.view_account .side_bar .user_info .img_profile {
    width: 120px;
    height: 120px;
    margin-bottom: 15px
}

.view_account .side_bar .user_info .meta li {
    margin-bottom: 10px
}

.view_account .side_bar .user_info .meta li span {
    display: inline-block;
    width: 100px;
    margin-right: 5px;
    text-align: right
}

.view_account .side_bar .user_info .meta li a {
    color: #616670
}

.view_account .side_bar .user_info .meta li.activity {
    color: #a2a6af
}

.view_account .side_bar .side_menu {
    text-align: center
}

.view_account .side_bar .side_menu .navigation {
    display: inline-block;
    margin: 0 auto
}

.view_account .side_bar .side_menu .navigation>li {
    font-size: 14px;
    margin-bottom: 0;
    border-bottom: none;
    display: inline-block;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px
}

.view_account .side_bar .side_menu .navigation>li:last-child {
    margin-right: 0
}

.view_account .side_bar .side_menu .navigation>li>a {
    display: inline-block;
    color: #9499a3;
    padding: 5px;
    border-bottom: 2px solid transparent;
}

.view_account .side_bar .side_menu .navigation>li>a:hover {
    color: #616670;
    background: none
}

.view_account .side_bar .side_menu .navigation>li.active a {
    color: #40babd;
    border-bottom: 2px solid #40babd;
    background: none;
    border-right: none
}

.view_account .side_bar .side_menu .navigation>li .icon {
    display: block;
    font-size: 24px;
    margin-bottom: 5px
}

.view_account .content_panel {
    padding: 30px
}

.view_account .content_panel .title {
    margin-bottom: 15px;
    margin-top: 0;
    font-size: 18px
}

@media (max-width:767px) {
    .view_account .content_panel .title {
        text-align: center
    }
    .view_account .side_bar .user_info {
        padding: 0
    }
    .view_account .side_bar .user_info .img_profile {
        width: 60px;
        height: 60px
    }
    .view_account .side_bar .user_info .meta li {
        margin-bottom: 5px
    }
    .view_account .content_panel .content_header_wrapper .actions {
        position: static;
        margin-bottom: 30px
    }
    .view_account .content_panel {
        padding: 0
    }
    .view_account .content_panel .avatar .figure img {
        float: none;
        margin-bottom: 15px
    }
}

@media (min-width:992px) {
    .view_account .content_panel {
        min-height: 800px;
        border-left: 1px solid #f3f3f7;
        margin-left: 200px
    }
    .view_account .mail-subject .subject {
        max-width: 280px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }
    .view_account .side_bar {
        position: absolute;
        width: 200px;
        min-height: 600px
    }
    .view_account .side_bar .user_info {
        margin-bottom: 0;
        border-bottom: none;
        padding: 30px
    }
    .view_account .side_bar .user_info .img_profile {
        width: 120px;
        height: 120px
    }
    .view_account .side_bar .side_menu {
        text-align: left
    }
    .view_account .side_bar .side_menu .navigation {
        display: block
    }
    .view_account .side_bar .side_menu .navigation>li {
        display: block;
        float: none;
        font-size: 14px;
        border-bottom: 1px solid #f3f3f7;
        margin-right: 0;
        margin-bottom: 0
    }
    .view_account .side_bar .side_menu .navigation>li>a {
        display: block;
        color: #9499a3;
        padding: 10px 15px;
        padding-left: 30px
    }
    .view_account .side_bar .side_menu .navigation>li>a:hover {
        background: #f9f9fb
    }
    .view_account .side_bar .side_menu .navigation>li.active a {
        background: #f9f9fb;
        border-right: 4px solid #40babd;
        border-bottom: none
    }

    .view_account .side_bar .side_menu .navigation>li .icon {
        font-size: 24px;
        vertical-align: middle;
        text-align: center;
        width: 40px;
        display: inline-block
    }
}
