
.view_account .content_panel .avatar .figure img {
    float: right;
    width: 64px
}

.view_account .content_panel .content_header_wrapper {
    position: relative;
    margin-bottom: 30px
}

.view_account .content_panel .content_header_wrapper .actions {
    position: absolute;
    right: 0;
    top: 0;
}

.view_account .content_panel .content_header_wrapper .actions .btn_nova_questao {
    position: relative;
    right: 0;
    top: 0;
    background-color: #aedee4;
    height: 40px;
    width: 200px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
    text-align: center;
    border-color: black;
}
.view_account .content_panel .content_header_wrapper .actions .btn_excluir {
    position: relative;
    right: 0;
    top: 0;
    background-color: #aedee4;
    height: 40px;
    width: 200px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
    text-align: center;
    border-color: black;
}

.perguntas_list_view {
    padding: 15px;
    background: #f5f5f5;
    overflow: hidden
}

.perguntas_list_view .perguntas {
    width: 60%
}

.perguntas_list_view .perguntas.truncate {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.perguntas_list_view .type {
    width: 15px
}

.perguntas_list_view .data,
.perguntas_list_view .respostas {
    max-width: 60%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.perguntas_list_view a {
    color: #494d55;
}

.perguntas_list_view a:hover {
    color: #40babd;
}

.perguntas_list_view td.data,
.perguntas_list_view td.respostas {
    color: #a2a6af
}
.perguntas_list_view td.respostas{
    text-align: center;
}
.title_list{
    float: left;
    position: relative;
}
.title_list p {
    padding-bottom: 5px;
}
.input_list{
    float: right;
    position: relative;
}