<!DOCTYPE HTML>

<html lang="pt-br">
{% include 'navbar2.html' %}

<head>


    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
    <link href="../../static/bootstrap_login/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/bootstrap_login/css/signin.css" rel="stylesheet">


</head>
    
<body class="text-center">

    <form class="form-signin" method="POST" action="{{ url_for('questions.search_questions') }}">
        {{ form.hidden_tag() }}
        {{ form.question(type="string", id="search_questions", class="form-control", placeholder="Digite a Pergunta", required="autofocus")}}
        
         <button class="btn btn-lg btn-primary btn-block" id="btn_pesquisa" type="submit">Pesquisar Pergunta</button>
        
    </form>

</body>

</html>