<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Cerana - Incluir Planta</title>
        <link rel="stylesheet" href="../static/css/pergunta_style.css">
        <link rel="stylesheet" href="../static/css/base.css">
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        <script type="text/javascript"></script>
        
    </head>
    <body>

        <!-- Navbar -->
        <nav class="navbar navbar-default navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/dashboard">Voltar para Home</a></li>
              </ul>
            </div><!--onde o nav morre -->
          </div>
        </nav>

         <div class="container">
            
            <div class="container">
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <img class="img_profile" width="90px" height="90px" src="avatar.jpg"> <v<br/>
                        </div>



                    <!--    <div class="col-md-12">
                            <br>
                            <a href="#"><span class="navigation_item" color="#000000"></span>Notificações</a><br />
                        </div> -->
                        <div class="col-md-12">
                            <br>
                            <a href="#"><span class="navigation_item" color="#000000"></span>Banco</a><br /> <!--Botar a variavel aqui -->
                        </div>
                        <div class="col-md-12">
                            <br>
                            <a href="../questions"><span class="navigation_item" color="#000000"></span>Perguntas</a><br /> <!--Botar a variavel aqui -->
                        </div>
                        <div class="col-md-12">
                            <br>
                            <a href="../profile"><span class="navigation_item" color="#000000"></span>Perfil</a><br /> <!--Botar a variavel aqui -->
                        </div>
                        <div class="col-md-12">
                            <br>
                            <a href="#"><span class="navigation_item" color="#000000"></span>Pessoas</a><br /><!--Botar a variavel aqui -->
                        </div>
                    </div>
                </div>
            </div>
       
                    <div class="content_panel">
                        <div class="content_header_wrapper">
                            <h2 class="title" align="center">Incluir Planta</h2>
                        </div>
                        <div class="create_answer">
                            <div id="comment_form">
                                <div class="resposta_title col-md-6">
                                    <h2><input class="new_question_title" type="text" name="titulo" id="titulo_id" placeholder="Nome Cientifico "></h2>
                                </div>
                                <div class="resposta_title col-md-6">
                                    <h2><input class="new_question_title" type="text" name="titulo" id="titulo_id" placeholder="Nome Comum "></h2>
                                </div>
                                <div class="resposta_info">
                                    <div>
                                        <input type="text" name="familia" id="familia_id" placeholder="Familia">
                                    </div>
                                    <div>
                                        <input type="text" name="filo" id="filo_id" value="" placeholder="Filo">
                                    </div>
                                    <div>
                                        <input type="text" name="n_cientifio" id="n_cientifico_id" value="" placeholder="Reino">
                                    </div>
                                </div>

                                <div class="resposta_text">
                                    <textarea rows="10" name="comment" id="comment_id" placeholder="Descriçao detalhada"></textarea>
                                </div>
                                <dir class="col-md-2 col-md-offset-8">
                                    <button type="submit" class="btn btn-primary form-control">Confirmar</button>
                                </dir>
                                <dir class="col-md-2" >
                                    <button type="submit" class="btn btn-primary form-control">Upload Foto</button>
                                </dir>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <link href="css/bootstrap.min.css" rel="stylesheet">
    </body>
</html>