<!DOCTYPE html>
<html>
    <head>
        <title>--Cadastro--</title>
        <meta charset="utf-8" />
        <link href="../css/crud_style.css" rel="stylesheet" media="all" />
        <script src="../js/crud_functions.js"></script>

    </head>
    <body>
        <div class="module">
        <div class="form_page">
            <form class="form_cadastro" name="meu_form_cadastro">

                <div class="logo_img">
                    <img src="../imagens/cerana.png" class="cerana">
                </div>


                <div class="header_wrapper">
                    <h1 class="title">Cadastro</h1>
                </div>


                <div class="title_list">
                    <p class="user">
                        <label class="user_text" for="user_id">Usuário</label>
                    </p>
                    <p class="nome">
                        <label class="nome_text" for="nome_id">Nome Completo</label>
                    </p>
                    <p class="senha">
                        <label class="senha_text" for="password_id">Senha</label>
                    </p>
                    <p class="senhaConfirm">
                        <label class="senhaConfirm_text" for="passwordConfirm_id">Confirmar Senha</label>
                    </p>
                    <p class="graduacao">
                        <label class="graduacao_text" for="graduacao_id">Graduação</label>
                    </p>
                    <p class="email">
                        <label class="email_text" for="email_id">Email</label>
                    </p>
                </div>
                <div class="input_list">
                    <p class="user">
                        <input class="user_input" type="text" id="user_id" placeholder="Usuário" required="required"
                               name="user" />
                    </p>
                    <p class="nome">
                        <input class="nome_input" type="text" id="nome_id" placeholder="Nome" required="required"
                               name="nome" />
                    </p>
                    <p class="senha">
                        <input class="senha_input" type="password" id="password_id" placeholder="*******" required="required"
                               name="senha" />
                    </p>
                    <p class="senhaConfirm">
                        <input class="senhaConfirm_input" type="password" id="passwordConfirm_id" placeholder="*******" required="required"
                               name="senhaConfirm" />
                    </p>
                    <p class="graduacao">
                        <input class="graduacao_input" type="text" id="graduacao_id" placeholder="Bacharelado .."
                                                      name="graduacao" />
                    </p>
                    <p class="email">
                        <input class="email_input" type="email" id="email_id" placeholder="fulano@ufrpe.com" name="email" />
                    </p>
                </div>

                <p class="submit">
                    <input type="submit" onclick="cadastrar();" value="Cadastrar" />
                </p>
            </form>
        </div>
        </div>

    </body>
</html>