<!DOCTYPE HTML>
<html lang="pt-br">
{% include 'navbar2.html' %}

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap_login/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/bootstrap_login/css/signin.css" rel="stylesheet">


</head>

<body class="text-center col-md-12">


    <form class="form-signin" method="POST" action="{{ url_for('plants.search_plants') }}">
        {{ form.hidden_tag() }} {{ form.scientific_name(type="string", id="search_plants", class="form-control", placeholder="Nome Científico", required="autofocus") }}

        <button class="btn btn-lg btn-primary btn-block" id="btn_pesquisa" type="submit">Pesquisar Planta</button>
    </form>

</body>

</html>
