<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Cerana Home</title>

		<!-- jquery - link cdn -->
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

		<script type="text/javascript"></script>

	</head>

	<body>

		<!-- Static navbar -->
	    <nav class="navbar navbar-default navbar-static-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	        </div>

	        <div id="navbar" class="navbar-collapse collapse">
	          <ul class="nav navbar-nav navbar-right">
				<li><a href="">Perfil</a></li>
				<li><a href="">Banco</a></li>
	            <li><a href="">Sair</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </nav>

    	    	<div class="col-md-6">
	    		<div class="panel panel-default">
	    			<div class="panel-body">
	    				<form class="input-group" method="POST" action="{{ url_for('plants.search_plants') }}">
                            {{ form.hidden_tag() }}
                            {{ form.scientific_name(type="string", id="scientific_name", class="form-control", placeholder="scientific_name", required="required") }}
	    					<!--<input type="text" id="Pesquisa_pergunta" name="Pesquisa_pergunta" class="form-control" placeholder="Que pergunta deseja pesquisar?" maxlength="140" />-->
	    				
	    						<button class="btn btn-default" id="btn_pesquisa" type="submit">Pesquisar</button>
	    					
	    				</form>
	    			</div>
	    		</div>
				</div>
	</body>
</html>