<!DOCTYPE HTML>
<html lang="pt-br">
{% include 'navbar2.html' %}

<head>
    <meta charset="UTF-8">

    <title>Cerana - Editar Perfil</title>

 
    <!-- bootstrap - link cdn -->
    <link rel="stylesheet" href="../../static/bootstrap_login/css/bootstrap.css">

</head>

<body>

            <div class="container">
                <div class="row">
                    {% if name and birth and email and phone and occupation %}
                    <div class="col-md-6">

                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Nome Usuario: {{ name }}</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">

                                    <div class=" col-md-9 col-lg-9 ">
                                        <table class="table table-user-information">
                                            <tbody>
                                                <tr>
                                                    <td>Email:</td>
                                                    <td>Email: {{email}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Data de nascimento:</td>
                                                    <td>Data de nascimento: {{birth}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Graduação:</td>
                                                    <td>Graduação: {{occupation}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Telefone:</td>
                                                    <td>Telefone: {{phone}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        {% else %}
                                        <h1> Não encontrado! </h1>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



</body>

</html>
