<!DOCTYPE HTML>
<html lang="pt-br">
{% include 'nav2.html'}
	<head>
		<meta charset="UTF-8">

		<title>Cerana - Editar Perfil</title>
		
		<!-- jquery - link cdn -->
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	
		<script type="text/javascript"></script>
	
	</head>

<body>


		<!-- Navbar 
	    <nav class="navbar navbar-default navbar-static-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	        </div>
	        
	        <div id="navbar" class="navbar-collapse collapse">
	          <ul class="nav navbar-nav navbar-right">
	            <li><a href="/dashboard">Voltar para Home</a></li>
	          </ul>
	        </div><!--onde o nav morre 
	      </div>
	    </nav> 
        -->

<div class="container">
	    	
	    	<div class="container">
	    	<div class="col-md-2 col-md-offset-1">
	    		<div class="panel panel-default">
	    			<div class="panel-body">
	    				<div class="col-md-12">
	    					<img class="img_profile" width="90px" height="90px" src="avatar.jpg"> <v<br/>
	    				</div>



	    			<!--	<div class="col-md-12">
	    					<br>
	    					<a href="#"><span class="navigation_item" color="#000000"></span>Notificações</a><br />
	    				</div> -->
	    				<div class="col-md-12">
	    					<br>
	    					<a href="#"><span class="navigation_item" color="#000000"></span>Banco</a><br /> <!--Botar a variavel aqui -->
	    				</div>
	    				<div class="col-md-12">
	    					<br>
	    					<a href="../questions"><span class="navigation_item" color="#000000"></span>Perguntas</a><br /> <!--Botar a variavel aqui -->
	    				</div>
	    				<div class="col-md-12">
	    					<br>
	    					<a href="../profile/edit_profile"><span class="navigation_item" color="#000000"></span>Editar perfil</a><br /> <!--Botar a variavel aqui -->
	    				</div>
	    				<div class="col-md-12">
	    					<br>
	    					<a href="#"><span class="navigation_item" color="#000000"></span>Pessoas</a><br /><!--Botar a variavel aqui -->
	    				</div>
	    			</div>
	    		</div>
	    	</div>

<div class="container">
      <div class="row">
      
        <div class="col-md-6" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Nome Usuario</h3>
            </div>
            <div class="panel-body">
              <div class="row">

                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Email:</td>
                        <td>usuario@cerana.com.br</td>
                      </tr>
                      <tr>
                        <td>Data de nascimento:</td>
                        <td>01/24/1988</td>
                      </tr>
                      <tr>
                        <td>Graduação:</td>
                        <td></td>
                      </tr>
                        <tr>
                        <td>Telefone:</td>
                        <td>(XX)XXXX-XXXX</td>
                      </tr>                    
                    </tbody>
                  </table>	
                </div>
              </div>
            </div>    
          </div>
        </div>
      </div>
    </div>
	
		<link href="css/bootstrap.min.css" rel="stylesheet">
	
	</body>
</html>